@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-2"><i class="bi bi-caret-right-fill"></i>Lookup Values</h1>

<p class ="mb-0">This page will allow you to manage all of the Lookup values in the system. </p>
<p>Just select a Tab to view and maintiain the values for a specific one.</p>

<div class="text-danger">@Html.Raw(TempData["Feedback"])</div>
<div>
    <!-- Nav tabs -->
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link" id="EngDispositionType-Tab" data-bs-toggle="tab" data-bs-target="#EngDispositionTypePanel" type="button" role="tab" aria-controls="EngDispositionTypePanel" aria-selected="true">Engineer Disposition Types</button>
            <button class="nav-link" id="OpDispositionType-Tab" data-bs-toggle="tab" data-bs-target="#OpDispositionTypePanel" type="button" role="tab" aria-controls="OpDispositionTypePanel" aria-selected="false">Operations Manager Disposition Types</button>
            <button class="nav-link" id="FollowUpType-Tab" data-bs-toggle="tab" data-bs-target="#FollowUpTypePanel" type="button" role="tab" aria-controls="FollowUpTypePanel" aria-selected="false">Follow Up Types</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade" id="EngDispositionTypePanel" role="tabpanel" aria-labelledby="EngDispositionType-Tab"><br /></div>
        <div class="tab-pane fade" id="OpDispositionTypePanel" role="tabpanel" aria-labelledby="OpDispositionType-Tab"><br /></div>
        <div class="tab-pane fade" id="FollowUpTypePanel" role="tabpanel" aria-labelledby="FollowUpType-Tab"><br /></div>
    </div>
</div>
<hr />
<br />

@section Scripts {
    <script type="text/javascript">
        // Mapping for lookup names to dropdown IDs
        var lookupToDropdownId = {
            "EngDispositionType": "engDispositionTypeId",
            "OpDispositionType": "opDispositionTypeId",
            "FollowUpType": "followUpTypeId",
        };

        function refreshTab(activeTab) {
            switch (activeTab) {
                case 'EngDispositionType-Tab': $('#EngDispositionTypePanel').load('/Lookup/EngDispositionType');
                    break;
                case 'OpDispositionType-Tab': $('#OpDispositionTypePanel').load('/Lookup/OpDispositionType');
                    break;
                case 'FollowUpType-Tab': $('#FollowUpTypePanel').load('/Lookup/FollowUpType');
                    break;
                default: break;
            };
            return;
        };

        $('.nav-link').click(function () {
            var activeTab = $(this).attr("id");
            refreshTab(activeTab);
        });

        $(".tab-content").on("click", ".linkClick", function (event) {
            event.preventDefault();
            var address = $(this).attr("href");
            var lookup = address.split("/")[1];
            var dropdownId = lookupToDropdownId[lookup];
            var id = $("#" + dropdownId).val();
            var caption = $("#" + lookup).html();

            if (!id) {
                alert("Error: no value selected from the " + caption + " list!");
            } else {
                window.location.href = address + "/" + id;
            }
        });

        $(function () {
            // Delay the tab activation to ensure other scripts are ready
            setTimeout(function () {
                // Set the tab to activate
                var tabToActivate = "EngDispositionType-Tab";

                // Trigger a click event on the specified tab
                $("#" + tabToActivate).trigger('click');
            }, 10);
        });
    </script>
}
