@model HaverDevProject.Models.EngDispositionType

<partial name="_ViewHeading" />

<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">

            <div class="form-group">
                <label asp-for="EngDispositionTypeName" class="control-label">Disposition</label>
                <input asp-for="EngDispositionTypeName" class="form-control" />
                <span asp-validation-for="EngDispositionTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <partial name="_BackToList" />
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

